# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
.env
*.log
*.pot
*.pyc
db.sqlite3
media/

# Django
*.log
local_settings.py

# Vue
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db